[run]
branch = True
source = misp_stix_converter

[report]
include =
    misp_stix_converter/*
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
